/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

a:visited {
  color: inherit;
}

li {
  list-style-type: none;
}

/* # UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
  max-width: 100%;
}

/* HEADER */

.header-container {
  display: flex;
  justify-content: space-between;
  /* debug */
  background-color: #114b5f;
  min-height: 80px;
  border: 1px dashed white;
}

.header-left,
.header-right {
  display: flex;
}

.header-left {
  /* debug */
  background-color: #ff7d00;
  min-height: 70px;
  min-width: 35%;
  border: 1px dashed white;
}

.header-right {
  justify-content: flex-end;

  /* debug */
  background-color: #78290f;
  min-height: 70px;
  min-width: 35%;
  border: 1px dashed white;
}

.header-logo {
  /* debug */
  background-color: #001524;
  min-height: 70px;
  min-width: 35%;
  border: 1px dashed white;
}

.header-button {
  /* debug */
  background-color: #62b5b5;
  min-height: 70px;
  min-width: 35%;
  border: 1px dashed white;
}

.header-nav li {
  display: inline-block;
}

/* MAIN */

.hero {
  /* debug */
  background-color: #e27396;
  min-height: 70px;
  min-width: 35%;
  border: 1px dashed white;
}
