/* DEBUG */

/* footer,
header,
.hero,
#plans,
.faq,
#brands,
.business {
  display: none;
} */

/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

li {
  list-style-type: none;
}

/* # UTILS */

body {
  font-family: "Open Sans", sans-serif;
  color: #030000;
}

.container {
  margin: 0 auto;
  padding: 0rem 10px;
  width: 1000px;
  max-width: 100%;
}

.button {
  border: none;
  padding: 10px;
  font-size: 1rem;
}

.button-blue {
  color: white;
  background-color: #0061ff;
}

.button-white {
  background-color: white;
  border: 1px solid black;
}

.link-odd {
  color: #0061ff;
  text-decoration: underline;
}

.link-odd:visited {
  color: #0061ff;
}

.row {
  display: flex;
}

.w-1-3 {
  width: calc(100% / 3);
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w-100 {
  width: 100%;
}

/* HEADER */

.header-container {
  display: flex;
  justify-content: space-between;
  min-height: 70px;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
}

.header-right {
  justify-content: flex-end;
  min-width: 35%;
}

.header-logo {
  padding: 20px 15px;
}

.header-button-container {
  margin: 20px 10px;
}

.header-nav li {
  display: inline-block;
  padding: 10px;
  border: 1px dashed white;
}

/* MAIN */

/* HERO */
.hero {
  background-color: #b4d0e7;

  /* debug */
  /* background-color: #405c74; */
}

.hero-container-big {
  position: relative;
  width: 1250px;
  top: 80px;
}

.hero-container-small {
  display: flex;
  padding: 1rem;
}

.hero-title > h1 {
  font-size: 4.5rem;
  font-weight: 900;
  padding: 1rem;
}

.hero-text {
  max-width: 30%;
}

.hero-text button {
  margin: 2rem 0;
}

.hero-text .fa-arrow-down {
  font-size: 3.5rem;
  padding-top: 5rem;
}

.hero-img {
}

/* PLAN */

#plans .row {
  gap: 3rem;
}

#plans .container {
  padding-top: 7rem;
  padding-bottom: 3.5rem;
}

#plans .container > h2 {
  font-size: 2rem;
}

.fake-radio {
  padding: 2rem 0;
}

.fake-radio-item {
  padding-right: 1rem;
}

/* CARD */

.plan-card {
  border: 1px solid grey;
}

.plan-card-header {
  border-bottom: 1px solid grey;
  text-align: center;
  padding: 0.5rem;
}

.plan-card-body {
  padding: 2rem 2rem;
}

.plan-card-body > * {
  margin-bottom: 1rem;
}

.plan-card-body li {
  padding-bottom: 1rem;
}

.plan-card-body > h3 {
  font-size: 1.5rem;
}

.plan-card-body > h4 {
  font-size: 0.9rem;
}

.plan-card-body > h5 {
  color: grey;
  font-weight: 600;
}

.plan-card-body.odd {
  display: flex;
}

.plan-card-body-col > * {
  margin-bottom: 1rem;
}

.plan-card-body-col.w-40 {
  text-align: right;
}

.plan-card.w-100 {
  margin-top: 3rem;
}

/* PARTNER */

.partner-container {
  display: flex;
  padding: 3rem 0;
  margin: 3rem 0;
}

.partner-img {
  max-width: 60%;
}

.partner-text {
  padding: 3rem;
}

.partner-text > * {
  margin: 1rem;
}

/* BUSINESS */

.business-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 3rem 0;
}

.business > .container {
  padding-bottom: 10rem;
}

.business > .container > h2 {
  font-size: 2.3rem;
}

.business > .container > .w-60 > h3 {
  font-size: 2.3rem;
  padding: 3rem 0;
}

.business-card {
  max-width: 30%;
  padding: 1rem 0.5rem;
}

.business-card > h2 {
  padding-bottom: 2rem;
}

/* BRANDS */

#brands > .row {
  margin: 3rem 0;
}

.brand-col {
  display: flex;
  flex-wrap: wrap;

  width: calc(100vw / 3);
  height: calc(100vw / 3);

  border: 1px dashed black;
}

.brand-col.odd {
  display: flex;
  align-content: flex-start;

  overflow: auto;

  padding: 0 2.5rem;
  background-color: #f5f5f5;
}

.brand-col.odd > * {
  padding: 2.5rem 0;
}

.brand-col > div > img {
  width: 70%;
  border: 1px dashed black;
}

/* SQUARES */

.brand-logo > svg {
  display: none;
  fill: currentColor;
  color: white;
  border: 1px solid white;
}

.brand-square.right:first-child {
  background-color: #a2d39b;
}

.brand-square.right:nth-child(2) {
  background-color: #61082b;
}

.brand-square.right:nth-child(3) {
  background-color: #0093ce;
}

.brand-square.right:last-child {
  background-color: #ff1c1c;
}

.brand-square.left:first-child {
  background-color: #d5001f;
}

.brand-square.left:nth-child(2) {
  background-color: #b4d0e7;
}

.brand-square.left:nth-child(3) {
  background-color: #0d2481;
}

.brand-square.left:last-child {
  background-color: #ffd830;
}

.brand-square {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 50%;
  border: 1px dashed black;
}

.brand-logo {
  height: 50%;
  width: 50%;
}

/* CALL TO ACTION */

#call-to-action {
  background-color: #b4d0e7;
}

/* FAQ */

.faq-question {
  /* debug */
  background-color: #80579c;
  border: 1px dashed white;
  min-height: 50px;
}

/* FOOTER */

.footer-top {
  display: flex;
  justify-content: space-evenly;
  /* debug */
  background-color: #0073a8;
}

.footer-column {
  /* debug */
  background-color: #80579c;
  border: 1px dashed white;
  min-height: 50px;
}
